body {
  background-color: #f6f6f6;
  color: #000;
  font-family: Inter, Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0.2px;
  line-height: 1.5;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Dashboard Styles */
.dashboard {
  display: flex;
  /* max-height: 945px; */
  height: 100dvh;
  max-width: 1920px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 12px;
}

.dashboard-wrapper {
  border: 1px solid #e8e8e8;
  padding: 20px 28px;
  border-radius: 4px;
  padding-bottom: 0;
}

.search-heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

/* Sidebar Styles */
.sidebar {
  width: 246px;
  background-color: #391708;
  padding: 20px;
  padding-left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: white;
  position: relative;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #e9ce97;
  padding-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  margin-top: 24px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  padding: 10px 0px 10px 24px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

/* .sidebar nav li:hover {
  background: linear-gradient(to right,
      rgb(235, 205, 153, 0.5) 0%,
      rgba(235, 205, 153, 0) 15%);
} */

.sidebar nav li.active {
  background: linear-gradient(to right,
      rgb(235, 205, 153, 0.5) -10%,
      rgba(235, 205, 153, 0) 16%);
  font-weight: 500;
  color: #e9ce97;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 10px 30px;
  background-color: #fff;
}

.main-content>h1 {
  margin: 10px 0 20px 0;
  font-size: 26px;
}

.profile-wrapper {
  position: absolute;
  bottom: 0;
}

.profile-block {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-left: 24px;
}

.profile-block>img {
  border-radius: 50%;
  border: 1px solid #ebcd99;
  background: #ebcd99;
}

.profile-block>div {
  font-size: 16px;
  color: #ebcd99;
}

.list {
  margin: 12px 0;
}

.profile-block>div>div {
  color: #857965;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

/* Filters */
.filters {
  display: flex;
  gap: 5px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.filter-select {
  padding: 8px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* min-width: 150px; */
}

.search {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 6px 0 10px 0;
  gap: 8px;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.search>div {
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 2px;
  border-radius: 4px;
  height: 42px;
  width: 100%;
}

.search>div>input {
  width: 100%;
  padding: 4px 4px;
  box-shadow: none;
  border: none;
}

.search>button {
  font-size: 14px;
  /* padding: 8px 4px; */
  background-color: #782805;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 170px;
  height: 42px;
}

.apply-btn {
  padding: 8px 30px;
  background-color: #d7e0ff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  height: 42px;
  width: 150px;
  border: 1px solid #99abe7;
  font-size: 16px;
}

/* Table Styles */
.table-container {
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  overflow: auto;
  height: 556px;
  scrollbar-width: thin;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 4px 0;
  text-align: left;
  /* border-bottom: 1px solid #eee; */
}

th {
  font-weight: 600;
  color: #000;
  font-size: 19px;
}

thead tr th {
  padding-bottom: 10px;
}

.date-input {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  background: white;
  border: none;
}

tbody tr {
  border-top: 1px solid #E8E8E8;
  /* border-bottom: 1px solid #E8E8E8; */
}

/* Campaign Info */
.campaign-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item-logo>img {
  padding: 6px 4px;
  width: 56.38px;
  height: 43.15px;
}

.item-logo {
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  width: 60px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-wrapper {
  padding-left: 20px;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-name {
  font-size: 17px;
  font-weight: 500;
}

.item-desc {
  font-size: 14px;
  color: #686868;
}

.campaign-logo {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.campaign-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.campaign-desc {
  font-size: 14px;
  color: #666;
}

/* Platform Icons */
.platforms {
  display: flex;
  gap: 8px;
}

.platform-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.platform-icon.android {
  background-color: #a4c639;
  color: white;
}

.platform-icon.apple {
  background-color: #000;
  color: white;
}

.platform-icon.chrome {
  background-color: #4285f4;
  color: white;
}

/* Status Badge */
.status-badge {
  padding: 4px 10px;
  border-radius: 4px;
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.metric-number {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
}

.down {
  color: red;
}

.up {
  color: green;
}

.status-badge.active {
  background-color: #dcfce7;
  color: #14532d;
}

.status-badge.inactive {
  background-color: #f0f0f0;
  color: #808080;
}

.status-badge.paused {
  background-color: #ffecda;
  color: #ca6f1c;
}

/* Metric Values */
.metric {
  font-weight: 640;
  text-align: center;
  font-size: 20px;
  padding-right: 24px;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  /* width: 200px; */
  /* margin: 8px auto; */
  flex: 1;
  font-family: Inter, Arial, sans-serif;
  border: 1px solid #E8E8E8;
  color: #B9B9B9;
  border-radius: 4px;
  font-size: 14px;
}

.calender {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  cursor: pointer;
}

.date-wrapper {
  height: 40px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-logo {
  display: none;
}

.date-wrapper>input {
  height: 36px;
  border: none;
  padding-left: 8px;
}

/* Header styling */
.dropdown-header {
  background-color: #fff;
  padding: 6px 13px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

/* Arrow styling */
.dropdown-arrow {
  font-size: 12px;
}

/* Dropdown list styling */
.dropdown-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.sideMenu {
  display: none;
}

.menu {
  height: 2px;
  background-color: grey;
  margin: 4px 0;
  width: 26px;
}

/* Responsive Design */
@media screen and (min-width: 1281px) {
  .dashboard {
    font-size: 16px;
    /* max-height: 945px; */
  }

  .search>input {
    padding: 8px;
  }

  /* .search>button {
    font-size: 12px;
    padding: 11px 4px;
    width: 125px;
  } */

  .filter-select {
    /* min-width: 250px; */
    padding: 8px 4px;
  }

  .apply-btn {
    padding: 8px 42px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .item-name {
    font-size: 15px;
  }

  .item-desc {
    font-size: 13px;
  }

  th {
    font-size: 17px;
  }

  .metric {
    font-size: 17px;
  }

  .status-badge {
    width: 70px;
    font-size: 13px;
  }

  .platforms img {
    width: 28px;
    height: 28px;
  }

  .platforms {
    margin-right: 6px;
  }

  .item-logo {
    width: 55px;
    height: 58px;
  }

  .item-logo>img {
    padding: 6px 4px;
    width: 50.38px;
    height: 38.15px;
  }

  .item-wrapper {
    padding-left: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  /* .sidebar {
    width: 200px;
  } */
  .main-content {
    padding: 10px 0px;
  }

  .main-content>h1 {
    margin-left: 20px;
  }

  .status-badge {
    padding: 4px 3px;
    border-radius: 4px;
    font-size: 10px;
    width: 80px;
    margin: 0 10px;
  }

  .item-name {
    font-size: 14px;
  }

  .item-desc {
    font-size: 13px;
  }

  .platforms {
    margin-left: 10px;
  }

  .metric {
    font-size: 17px;
  }

  .table-container {
    height: 548px;
  }
}

@media (max-width: 975px) {
  .search>button {
    padding: 2px 4px;
  }
}

@media (max-width: 779px) {
  .search>button {
    padding: 2px 4px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: auto;
  }

  .logo {
    margin-bottom: 14px;
    margin-top: 10px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideMenu {
    display: block;
    margin-right: 14px;
  }

  .navbar {
    margin-top: 20px;
  }

  .main-content {
    padding: 16px;
  }

  .main-content>h1 {
    margin: 6px 0 20px 0;
  }

  .campaign-desc {
    display: none;
  }

  th,
  td {
    padding: 12px 6px;
  }

  .search>button {
    padding: 2px 4px;
  }

  .profile-wrapper {
    position: absolute;
    bottom: 0;
  }

  .search>div {
    width: 100%;
  }

  .profile-block {
    gap: 12px;
  }

  ul>li>img {
    width: 18px;
    height: 18px;
  }

  th {
    font-size: 16px;
  }

  .item-logo {
    width: 59px;
    height: 46px;
  }

  .item-logo>img {
    width: 59.38px;
    height: 33.15px;
  }

  .item-wrapper {
    padding-left: 10px;
  }

  .item-name {
    font-size: 12px;
  }

  .item-desc {
    font-size: 12px;
  }

  .showMenu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #391708;
    z-index: 2;
    margin-top: 0;
    overflow: hidden;
    height: 100%;
  }

  .mobile-logo {
    display: flex;
  }

  .hideMenu {
    display: none;
  }

  .platforms img {
    width: 30px;
    height: 30px;
  }

  .status-badge {
    font-size: 12px;
    height: 30px;
    width: 120px;
  }

  .metric {
    font-size: 16px;
  }

  .metric-number {
    font-size: 12px;
  }

  .search-heading {
    margin-bottom: 2px;
  }

  .profile-block>img {
    width: 38px;
    height: 38px;
  }

  .filters {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .filters {
    flex-direction: column;
  }

  .search>div {
    width: auto;
  }

  .search {
    display: block;
  }

  .search>button {
    padding: 10px 4px;
    width: 100%;
    margin-top: 8px;
  }

  .filter-select,
  .apply-btn {
    width: 100%;
  }

  .campaign-logo {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

  .dashboard-wrapper {
    padding: 20px 16px;
  }
}